<h2>Página de estadísticas</h2>

<ul>
  <li>Número de Quizes: <%= estadisticas.totalQuizes %></li>
  <li>Número de Comentarios: <%= estadisticas.totalComentarios %></li>
  <li>Número de Quizes con comentarios: <%= estadisticas.quizesConComentarios %></li>
  <li>Número de Quizes sin comentarios: <%= estadisticas.quizesSinComentarios %></li>
   <li>Número medio de comentarios por pregunta: <%= estadisticas.totalComentarios/estadisticas.totalQuizes %></li>
</ul>